.podcast-navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 2rem;
  color: #eeeeee;
  font-weight: bold;
  z-index: 100;
  background-color: transparent;
}

.podacst-logo {
  width: 220px;
  margin-left: 10px;
}

.podcast-navbar .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #eeeeee;
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}
.podcast-navbar div,
nav {
  display: flex;
  align-items: center;
}

.text-container {
  background-color: black;
  height: 31%;
  border-radius: 45px 45px 45px 45px;
}

.main-item {
  color: white;
  font-weight: bolder;
  padding: 4px;
  margin: 0 auto;
}

.item {
  margin: 20px;
  font-weight: bolder;
  color: black;
}
.search {
  margin: auto;
  display: flex;
  height: 35px;
  align-items: center;
  background-color: white;
  border-radius: 45px 45px 45px 45px;
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px;
}

.options {
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .podcast-navbar .nav-btn {
    display: block;
    opacity: 1;
  }

  .podcast-navbar .options {
    flex-direction: column;
    align-items: center;
  }
  .podcast-navbar nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #337ccf;
    transition: 1s;
    z-index: 1;
    padding-top: 50%;
    /* Ensure navbar is above content */
  }

  .podcast-navbar .search{
    margin: 0;
  }
  .podcast-navbar .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
